<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<header>
  <!-- progress bar -->
  <div class="fixed-top" *ngIf="progressBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <!-- end of progress bar -->

  <app-navbar [userName]="userName"></app-navbar>
</header>

<body>


  <!-- calendar template -->

  <div class="container-fluid scrollable" style="padding-top:5vh;padding-bottom:1vh;">

    <!-- calendar components -->


    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Previous
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Next
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month">
            Month
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
            Week
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
            Day
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="alert alert-info viewChangeAlertMessage">
      <div [ngSwitch]="view">
        <span class="viewChangerAlert" *ngSwitchCase="'month'">Click on a month label to change the view to that
          month.</span>
        <span class="viewChangerAlert" *ngSwitchCase="'week'">Click on a day header to change the view to that
          day.</span>
        <span class="viewChangerAlert" *ngSwitchCase="'day'">There is no other view to navigate to.</span>
      </div>
    </div>
    <br />
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventTimesChanged)="eventTimesChanged($event)" (eventClicked)="viewEvent($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)" (eventClicked)="viewEvent($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)" (eventClicked)="viewEvent($event)">
      </mwl-calendar-day-view>
    </div>
    <!-- calendar components -->


    <!-- view Event Modal -->
    <ng-template #viewModal let-close="close">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">View Event</h5>
          <button type="button" id="viewModalCloseButton" class="close" data-dismiss="modal" aria-label="Close"
            (click)="clearModalValues(); close();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive" style="padding: 1vh 1vw 1vh 1vw;">
            <table class="table table-bordered">
              <tbody>

                <tr>
                  <th style="text-align: center">Title</th>
                </tr>
                <tr>
                  <div>{{modalData.title}}</div>
                </tr>
                <tr>
                  <th style="text-align: center">Primary color</th>
                </tr>
                <tr class="d-flex justify-content-center">
                  <input type="color" [(ngModel)]="modalData.color.primary" />
                </tr>
                <tr>
                  <th style="text-align: center">Secondary color</th>
                </tr>
                <tr class="d-flex justify-content-center">
                  <input type="color" [(ngModel)]="modalData.color.secondary" />
                </tr>
                <tr>
                  <th style="text-align: center">All Day Event</th>
                </tr>
                <tr class="d-flex justify-content-center">
                  <mat-checkbox [(ngModel)]="modalData.allDay">Yes</mat-checkbox>
                </tr>
                <tr>
                  <th style="text-align: center">Starts at</th>
                </tr>
                <tr>
                  <div>{{modalData.start}}</div>
                </tr>
                <tr>
                  <th style="text-align: center">Ends at</th>
                </tr>
                <tr>
                  <div>{{modalData.end}}</div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="clearModalValues(); close();">Close</button>
        </div>
        <div class="modal-footer text-muted">
          Added by {{modalData.adminName}} - Admin
        </div>
      </div>
    </ng-template>
    <!--end of view Event Modal -->
    <ng-template #modalAlert let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Meeting Reminder</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="card-title">Your meeting <span><i> {{modalData.title}} </i></span> will start soon!</h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="gentleReminder=true;close()">Snooze</button>
        <button type="button" class="btn btn-outline-secondary"
          (click)="gentleReminder=true;setValueReminder(modalData);close()">Dismiss</button>
      </div>
    </ng-template>

  </div>
  <!-- end of calendar template -->
</body>

</html>
<p>
  user-dashboard works!
</p>